<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset = "UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href = "/styles.css" rel="stylesheet" >
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/0442526d0c.js" crossorigin="anonymous"></script>
        <title>Mercado Liebre </title>
    </head>

<body>

    <header>
        
        <div class = "top header">
            <div class = "logo">
        <img src = "/images/logo-mercado-liebre-1.svg" alt="logo de mercado libre">
        </div>
        </div>
       
        <div class="buscador">
            <div class="form"  action="#" method="GET">
            <div class= "input"> Buscar Productos</div>
            <div class = "submit"><i class = "fa fa-search"></i></div>
            </div>     
        </div>
        <nav>            
            
            <p class ="compra">
                <i class="fa-solid fa-hand-holding-dollar"></i>
                Comprá en cuotas y sin tarjeta de crédito
            </p>

            <section class="site">  
            
                <div>
                    <ul> 
                <li><a class="enlaces-header" href= "#">Ofertas </a> </li>
                <li><a class="enlaces-header" href= "#">Tiendas Oficiales  </a> </li>
                <li> <a class="enlaces-header" href= "#">Vender </a> </li>
                <li><a class="enlaces-header" href= "#">Ayuda  </a></li>
            </ul>
                </div>
            <ul>
                <li><a class="enlaces-header" href= "#">Creá Tu Cuenta </a> <i class="fa-solid fa-id-card"></i>
                </li>
                <li><a class="enlaces-header" href= "#"> Ingresá  </a> 
                    <i class="fa-solid fa-right-to-bracket"></i>
                </li>
                <li><a class="enlaces-header" href= "#"> Mis Compras</a>
                    <i class="fa-solid fa-basket-shopping"></i>
                </li>
            </ul>
        </section>
        </nav>

        <div class="burger-menu">
            <i class="fa fa-bars burguer"></i>
        </div>


    </header>

    <main class = "main">
        
        <section>
           
            <div class = "banner"><img src= "/images/img-home-banner.jpg" alt = "Banner de ofertas"></div>
        </section>

        <section>
             <h3 class="basado"> Basado en tu última visita</h3> 
           
            <article class="product"> 
        <div class = "foto-producto"> <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera"> </div>
        <div class="detalle-producto">   
        <p class ="logo-envio"><i class="fa-solid fa-truck"></i> </p>
        <p class="precios">$6.770</p>
        <p class="descuentos">40% OFF </p>
        <h3><p class="descripciones">Cafetera Moulinex </p></h3>
    </div>
    </article>
    
    <article class="product"> 
        <div class = "foto-producto"> <img src="/images/img-macbook-pro-2019.jpg"  alt= "Macbook"></div>
        <div class="detalle-producto">  
        <p class ="logo-envio"><i class="fa-solid fa-truck"></i> </p>
        <p class="precios">$230.000</p>
        <p class="descuentos">20% off </p>
        <h3><p class="descripciones">MacBook Pro 2019  </p></h3>
        </div>
    </article>
    
    <article class="product">    
        <div class = "foto-producto"><img src="/images/img-samsung-galaxy-s10.jpg"  alt= "Samsung Galaxy S10"> </div>
        <div class="detalle-producto">
        <p class ="logo-envio"><i class="fa-solid fa-truck"></i> </p>
        <p class="precios" >$70.500</p>
        <p class="descuentos">10% off</p>
        <h3><p class="descripciones">Teléfono móvil Samsung Galaxy S10 </p> </h3>
    </div>
    </article> 

    <article class="product"> 
        <div class = "foto-producto"> <img src="/images/img-tv-samsung-smart.jpg"  alt= "Samsung"></div>
        <div class="detalle-producto">  
        <p class ="logo-envio"><i class="fa-solid fa-truck"></i> </p>
        <p class="precios">$23.200</p>
        <p class="descuentos">5% off</p>
        <h4><p class="descripciones">SmartTv Samsung 43"</p></h4>
    </div>
</article>

        </section>
    </main>

    <footer>
        <h4>Pagá con tarjeta o en efectivo </h4>
        
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>

        <h4>Envío gratis desde $ 2.500 </h4>
        
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        
        <h4>Seguridad, de principio a fin </h4>
        
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        
        <h4>Copyright © 1999-2020 MercadoLiebre S.R.L. </h4>

    </footer>

</body>