<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset = "UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href = "/login.css" rel="stylesheet" >
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/0442526d0c.js" crossorigin="anonymous"></script>
        <title>Mercado Liebre </title>
    </head>

<body>

    <header>
      <div class = "top-header">
        <div class = "logo">
    <a href="/" ><img class ="imagen" src = "/images/logo-mercado-liebre-1.svg" alt="logo de mercado libre">  </a>
    </div>
      
       
        <div class="buscador">
            <div class="form"  action="#" method="GET">
            <div class= "input"> Buscar Productos</div>
            <div class = "submit"><i class = "fa fa-search"></i></div>
            </div>     
        </div>

              
            
            <p class ="compra">
                <i class="fa-solid fa-hand-holding-dollar"></i>
                Comprá en cuotas y sin tarjeta de crédito
            </p>
        

        
    </div>

            <section class="site">  
            
                <ul class="site-hijo-1"> 
                <li><a class="enlaces-header" href= "#">Ofertas </a> </li>
                <li><a class="enlaces-header" href= "#">Tiendas Oficiales  </a> </li>
                <li> <a class="enlaces-header" href= "#">Vender </a> </li>
                <li><a class="enlaces-header" href= "#">Ayuda  </a></li>
            </ul>
                </div>
             <ul class="site-hijo-1">
                <li><a class="enlaces-header" href= "/register">Creá Tu Cuenta </a> <i class="fa-solid fa-id-card"></i>
                </li>
                <li><a class="enlaces-header" href= "#"> Ingresá  </a> 
                    <i class="fa-solid fa-right-to-bracket"></i>
                </li>
                <li><a class="enlaces-header" href= "#"> Mis Compras</a>
                    <i class="fa-solid fa-basket-shopping"></i>
                </li>
            </ul>
        </div>
        </section>


        <div class="burger-menu">
          <input type="checkbox" id="check">
          <label for="check" class="checkbtn">
              <i class="fa fa-bars burguer"></i>
          </label> 
                <ul class="lista-hamburguesa"> 
              <li><a href= "#">Ofertas </a> </li>
              <li><a href= "#">Tiendas Oficiales </a> </li>
              <li><a href= "#">Vender </a> </li>
              <li><a href= "#">Ayuda  </a></li>
              <li><a href= "/register">Creá Tu Cuenta </a></li>
              <li><a href= "/login"> Ingresá  </a> </li>
              <li><a href= "#"> Mis Compras</a>
                  </ul>
      </div>

    </header>
    <main>
        <form class="form">
          <div class="ruta-login">
            <a class= "texto-ruta-login" href="/">Inicio</a>/<p>Iniciar Sesion</p>
          </div>
          <div class="form_conteiner">
            <div class="form_group">
              <input required type="text" id="user" class="form_input" placeholder=" " />
              <label for="user" class="form_label">Usuario:</label>              
            </div>
            <div class="form_group">
              <input required type="password" id="password" class="form_input" placeholder=" "/>
              <label for="password" class="form_label">Contraseña:</label>             
            </div>
            <div>
              <input type="submit" class="form_submit" value="Entrar" />
            <p class="form_paragraph">
              ¿Aún no tienes una cuenta?
              <a href="/register" class="form_link">Entra aquí</a>
            </p>
          </div>
        </form>
    </main>
    
    <footer>
        
        
      <p class = "iconos"> <i class="fa-solid fa-credit-card"></i> </p>
      
      <h4>Pagá con tarjeta o en efectivo </h4>
      
      <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>

      <p class = "iconos"> <i class="fa-solid fa-gift"></i></p>
      <h4>Envío gratis desde $ 2.500 </h4>
      
      <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
      
      <p class = "iconos"><i class="fa-solid fa-user-shield"></i> </p>
      <h4>Seguridad, de principio a fin </h4>
      
      <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
      
      <h5>Copyright © 1999-2020 MercadoLiebre S.R.L. </h5>

  </footer>

</body>